<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<h1>To do list</h1>

<div class="container" id="app-cointainer">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2"></div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Enter To Do" aria-label="Enter To Do" aria-describedby="button-addon2" [(ngModel)]="newToDo">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="saveToDo()" >Add</button>
    </div>
    <table class="table table-striped">
      <tbody>
        <tr *ngFor="let toDo of toDoList; let i = index;">
          <th scope="row">{{i+1}}</th>
          <td class="{{(!toDo.isCompleted)?'done':''}}" (click)="done(i)">{{toDo.name}}</td>
          <td class="remove" (click)="remove(i)">X</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>